@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'TheJamsil100';
    src: url('../font/The_Jamsil/TheJamsil1Thin.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil300';
    src: url('../font/The_Jamsil/TheJamsil2Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil400';
    src: url('../font/The_Jamsil/TheJamsil3Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil500';
    src: url('../font/The_Jamsil/TheJamsil5Bold.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil700';
    src: url('../font/The_Jamsil/TheJamsil4Medium.ttf');

    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil800';
    src: url('../font/The_Jamsil/TheJamsil6ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}