.checkbox_label{
    >input[type="checkbox"]{
        display: none;
    }
    input[type="checkbox"] + span{
        cursor: pointer;
        position: relative;
        display: block;
        padding-left: 36px;
        line-height: 25px;
        &::before{
            content: "";
            box-sizing: border-box;
            position: absolute; top: 0; left: 0;
            display: block;
            width: 25px; height: 25px;
            background: #fff;
            border: 2px solid var(--trip-gray3); border-radius: 5px;
        }
    }
    input[type="checkbox"]:checked + span{
        &::before{
            width: 28px;
            background: url("https://trip-ter.vercel.app/img/icon/checkbox_checked.svg") no-repeat left top/contain;
            border: none;
        }
    }
}


.select_box{
    position: relative;
    min-width: 140px;
    font-size: var(--small-text);
    .select_btn{
        padding: 10px 0 10px 36px;
        cursor: pointer;
        &::before{
            content: "";
            position: absolute; top: 10px; left: 6px;
            display: block;
            width: 24px; height: 24px;
            background: url("https://trip-ter.vercel.app/img/icon/three-slider-horizontal.svg") no-repeat center/18px;

        }
        .arrow{
            display: block;
            width: 24px; height: 24px;
            background: url("https://trip-ter.vercel.app/img/icon/polygon-bk.svg") no-repeat center/contain;
        }
    }
    .option_list{
        display: none;
        position: absolute; left: 0; right: 0; top: calc(100% - 8px); z-index: 1;
        padding: 20px 10px;
        background: var(--trip-white);
        border-radius: 5px; border: 1px solid var(--trip-gray1);
        cursor: pointer;

        ul{gap: 20px;}
        li:hover{color: var(--trip-blue);}
    }

    &.active{
        .select_btn{
            .arrow{
                transform: rotate(180deg);
                //background-image: url("https://trip-ter.vercel.app/img/icon/polygon-bl.svg");
            }
        }
        .option_list{display: block;}
    }
}