.subMain{
    padding-bottom: 7.5rem;
    .sectionBanner{
        height: 18.75rem; padding-top: 6.25rem;
        text-align: center;
        background: url("https://d-hye.github.io/source/img/main_img/mainslide2.jpg") no-repeat center/cover;
        h3{
            margin-bottom: 2rem;
            font-family: var(--theJamsil-bold); font-size: var(--main-slide); 
        }
        p{
            font-size: var(--mediumbig-text); font-weight: 700;
        }
    }

    .sectionList{
        padding: 2.5rem 0 3.75rem;
        ul{
            gap: 5rem; row-gap: 1.5rem;
            a{
                font-family: var(--theJamsil-medium); font-size: var(--mediumbig-text);
                span{ 
                    display: block;
                    width: 24px; height: 24px; margin-left: 0.625rem;
                    background: url("https://d-hye.github.io/source/img/icon/tab_icon/feelter.svg") no-repeat center/contain;
                }
            }
            .active a{ 
                color: var(--trip-blue);
                span{
                    background-image: url("https://d-hye.github.io/source/img/icon/tab_icon/c_feelter.svg");
                }
            }
        }
    }

    button.icon_box{
        width: 24px; height: 24px;
        background: url("https://d-hye.github.io/source/img_seo/favicon.svg") no-repeat center/contain;
        text-indent: -10000px;
    }

    @media only screen and (max-width: 768px){
        .sectionList{
            padding: 4rem 1rem 2rem;
            ul{
                gap: 2rem; row-gap: 1rem;
                a{
                    font-size: var(--semismall-text);
                    span{margin-left: .4rem;}
                }
            }
        }
    }
}

.select_box{
    position: relative;
    min-width: 140px;
    font-size: var(--small-text);
    .select_btn{
        padding: 10px 0 10px 30px;
        cursor: pointer;
        &::before{
            content: "";
            position: absolute; top: 10px; left: 0px;
            display: block;
            width: 24px; height: 24px;
            background: url("https://d-hye.github.io/source/img/icon/three-slider-horizontal.svg") no-repeat center/18px;

        }
        .arrow{
            display: block;
            width: 24px; height: 24px;
            background: url("https://d-hye.github.io/source/img/icon/polygon-bk.svg") no-repeat center/contain;
        }
    }
    .option_list{
        width: fit-content;
        min-width: 140px;
        display: none;
        position: absolute; left: 0; right: 0; top: calc(100% - 8px); z-index: 1;
        padding: 20px 10px;
        background: var(--trip-white);
        border-radius: 5px; border: 1px solid var(--trip-gray1);
        cursor: pointer;

        ul{gap: 20px;}
        li:hover{color: var(--trip-blue);}
    }

    &.active{
        .select_btn{
            .arrow{
                transform: rotate(180deg);
                //background-image: url("https://d-hye.github.io/source/img/icon/polygon-bl.svg");
            }
        }
        .option_list{display: block;}
    }
}

.user_info{
    .user_profile{
        width: 3.75rem;
        height: 3.75rem;
        background: url("https://d-hye.github.io/source/img/icon/user-profile-02.svg") no-repeat center/2.5rem, var(--trip-skyblue);
        border-radius: 50%;
    }
}

.board_area{
    .board_filter{
        padding: 0 0.625rem;
        .icon1{
            background-image: url("https://d-hye.github.io/source/img/icon/list.svg");
            &.active{
                background-image: url("https://d-hye.github.io/source/img/icon/list_active.svg");
            }
        }
        .icon2{
            background-image: url("https://d-hye.github.io/source/img/icon/gallery_list.svg");
            &.active{
                background-image: url("https://d-hye.github.io/source/img/icon/gallery_list_active.svg");
            }
        }
    }
    
    .board_list{
        .table_board{
            width: 100%;
            border-collapse: collapse;
            .post_id{width: 8.021%;}
            .post_tit{max-width: 400px;}
            .post_nickname{width: 16.0428%;}
            .post_time{width: 12.032%;}
            .post_view{width: 6.684%;}

            thead{
                background: var(--trip-blue);
                th{
                    font-size: var(--desc-text); color: var(--trip-yellow); font-weight: normal; line-height: 2.5rem;
                    
                }
            }
            tbody{
                tr{
                    border-bottom: 1px solid var(--trip-gray2);
                    font-size: var(--desc-text);

                    td{
                        line-height: 2.5rem;
                        &:not(.post_tit){
                            text-align: center;
                        }

                        &.post_tit{
                            a{
                                font-weight: 500;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                            b{
                                font-weight: 700;
                                color: var(--trip-blue);
                            }
                        }
                        &.post_id,
                        &.post_time,
                        &.post_view{color: var(--trip-gray3);}
                    }

                }
            }

        }
        .galley_board{
            gap:2.125rem;
            padding: 1.25rem 0.625rem 0;
            border-top: 1px solid var(--trip-gray1);;
            li{
                width: 30.22%;
                .float_info{
                    right: 0; bottom: 15px;
                    max-width: 11.25rem; padding: 0.625rem;
                    background: var(--trip-yellow); border-radius: 25px 0px 0px 25px;
                    b{  
                        display: block;
                        padding-left: 1.5rem;
                        font-size: var(--small-text); color: var(--trip-blue); font-weight: 700; line-height: 1.5rem;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        background: url("https://d-hye.github.io/source/img/icon/marker.svg") no-repeat left/24px;
                    }
                }
                .desc_box{
                    padding: 0.625rem 0.25rem 2.5rem 0.25rem;
                    .post_tit{
                        font-size: var(--small-text);
                        a{
                            font-weight: 500;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        b{color: var(--trip-blue); font-weight: 700;}
                    }
                    .post_nickname{
                        h6{
                            padding: 0.625rem 0;
                            font-size: var(--small-text); font-weight: normal;
                        }
                    }
                    .post_time, .post_view{
                        font-size: var(--desc-text);
                        color: var(--trip-gray1);
                    }
                }
            }
        }
        .live_board{
            padding: 0.625rem;
            >li{
                padding: 0.625rem 0;
                .desc_box{
                    width: 100%;
                    max-width: 31.25rem;
                    .post_info{                            
                        .user_info{
                            flex: 1; gap: 0.625rem;
                            .user_desc{
                                .nickname{
                                    padding-bottom: 0.625rem;
                                    font-size: var(--small-text);
                                    font-weight: 700;
                                }
                            }
                        }
                        .post_time{
                            font-size: var(--m-small-text);
                                color: var(--trip-gray1);
                        }
                    }

                    .desc{
                        margin-top: 0.625rem;
                        padding-left: 4.375rem;
                        h5{
                            font-size: var(--small-text); font-weight: 700;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        p{
                            height: 50px; margin: 1.25rem 0;
                            font-size: var(--desc-text); color: var(--trip-gray3);
                            line-height: 1.45;
                            overflow: hidden;
                        }
                    }
                    .response_wrap{
                        gap: 1.25rem;
                        .d-flex{
                            gap: 0.25rem;
                            i{
                                display: block;
                                width: 16px; height: 16px;
                                background: url("https://d-hye.github.io/source/img/icon/heart_gr.svg") no-repeat center/contain;
                            }
                            span{
                                font-size: var(--desc-text);
                                color: var(--trip-gray3);
                            }
                            &.post_comment i{
                                background-image: url("https://d-hye.github.io/source/img/icon/comment.svg");
                            }
                            &.post_view i{
                                background-image: url("https://d-hye.github.io/source/img/icon/view.svg");
                            }
                        }
                    }
                }
                .img_box{
                    width: 12.5rem;
                    height: 12.5rem;
                    background: url("https://d-hye.github.io/source/img/icon/image.svg") no-repeat center/24px, var(--trip-gray1);
                    border-radius: 5px;
                }
            }
        }
    }
    .board_pagenation{
        padding-top: 30px;
        .icon1{
            background-image: url("https://d-hye.github.io/source/img/icon/polygon-left-gr.svg");
        }
        .icon2{
            background-image: url("https://d-hye.github.io/source/img/icon/polygon-right-bl.svg");
        }
        .num{
            color: var(--trip-gray3);
            font-size: var(--small-text);
            cursor: pointer;
            &.active{
                font-weight: 700;
                color: var(--trip-blue);
            }
        }
    }
}

.post_area{
    .post_info{
        padding: 0 0.625rem;
        border-bottom: 1px solid var(--trip-gray1);
        .post_tit{
            font-size: var(--medium-text); font-weight: 700;
            line-height: 1.45;
        }
        li{
            font-size: var(--small-text); color: var(--trip-gray3);
            &.d-flex{
                gap: 1rem;
            }
        }
    }
    .post_content{
        padding: 0.625rem;
        .trip_info{
            li{
                width: 50%;
                b{
                    display: block;
                    padding: 0.625rem; padding-right: 1rem;
                    font-size: var(--small-text); color: var(--trip-yellow); font-weight: 700;
                    background: var(--trip-blue); border-radius: 0 20px 20px 0;
                }
                span{
                    font-size: var(--small-text);
                }
            }
        }
        .dsec_box{
            padding: 3.125rem 0;
            min-height: 20rem;
            p{
                margin: 0.5rem 0;
                font-size: var(--desc-text); line-height: 1.45;
            }
        }
        .user_info{
            padding: 3.125rem 0;
            .nickname{
                margin-bottom: 1rem;
                font-size: var(--small-text); font-weight: 700;
            }
            .verification{
                li{
                    font-size: var(--m-small-text); color: var(--trip-gray1);
                    span::before{content: "ë¯¸";}
                    &.checked{
                        color: var(--trip-blue);
                        span::before{content: "";}
                    }
                }
            }
            .user_plus{
                margin-top: 1.25rem;
                font-size: var(--m-small-text);
                span{font-weight: 700;}
            }
        }
    }
    .board_btn{
        margin-top: 3.75rem;
    }
}
.comment{
    min-height: 200px;
    background: var(--trip-skyblue);
}

.product_item{
    .img_box a{
        background: url("https://d-hye.github.io/source/img/icon/image.svg") no-repeat center/24px, var(--trip-gray1);
        border-radius: 5px;
        overflow: hidden;
    }
    .info_box{
        width: 100%;
        .product_tit{
            font-size: var(--semismall-text); font-weight: 700;
        }
        .product_info{
            line-height: 1.45;
            overflow: hidden;
        }
        .product_cost{
            span{
                font-size: var(--small-text);
                color: var(--trip-gray1);
                text-decoration: line-through;
            }
            b{font-size: var(--medium-text); font-weight: 700;}
        }
    }

    &.productDefault{
        .info_box{
            max-width: 400px;
            padding: 2rem 1.25rem;
            .product_tit{margin-bottom: 1.5rem;}
            .product_info{
                height: 48px; margin-bottom: 2rem;
                font-size: var(--small-text);
            }
            .product_cost{
                margin-bottom: 2rem;
                h6{font-size: var(--medium-text); font-weight: 700; color: var(--trip-blue);}
            }

        }
        @media only screen and (max-width: 575px){
            .info_wrap{
                flex-direction: column;
                .info_box{
                    max-width: 100%;
                    a{width: 100%;}
                }
            }
        }
    }
    &.productHotel{
        max-width: 320px;
        width: 100%;
        padding: 1.25rem 0.625rem;
        .product_tit{
            text-align: center;
        }
        .product_info li{
            font-size: var(--small-text); color: var(--trip-gray3); line-height: 1.45;
            i{font-style: normal;}
        }
        button{
            margin-top: 1rem;
        }
        @media only screen and (max-width: 575px){
            max-width: 100%;
        }
    }
}