.page_login{
    .sectionBanner{
        background-image: url("https://d-hye.github.io/source/img/banner/user.jpg");
    }
    .signup_area{
        max-width: 500px;
        .signup_tab{
            li{
                padding: 0 54px;
                font-family: var(--theJamsil-medium); font-size: var(--small-text); color: var(--trip-white);
                line-height: 60px;
                background: var(--trip-gray1);
                &:first-child{
                    border-radius: 30px 5px 5px 30px;
                }
                &:last-child{
                    border-radius: 5px 30px 30px 5px ;
                }
                &.active{
                    background: var(--trip-skyblue) ;
                }
            }
        }

        .signup_step1{
            padding: 60px 0;
            h5{
                margin-bottom: 40px;
                span{
                    font-size: var(--semismall-text); font-family: var(--theJamsil-medium);
                }
            }
            h6{
                margin-bottom: 20px;
                font-size: var(--small-text); font-family: var(--theJamsil-regular);
            }
            fieldset{
                margin-top: 12px;
                div{
                    display: none; 
                    height: 70px;
                    margin: 16px 0 8px 36px; padding: 16px;
                    background: var(--trip-gray2);
                    border: 1px solid var(--trip-gray3); border-radius: 5px;
                    overflow-y: scroll;
                    p{
                        font-size: var(--desc-text); line-height: 1.6;
                    }
                }
                input[type="checkbox"]:checked + span + div{
                    display: block;
                }
                span{
                    font-size: var(--small-text);
                }
            }
            .option_checkbox{margin-top: 40px;}

        }

        .signup_step2{
            padding: 40px 0;
            fieldset{
                margin-bottom: 40px;
                .fieldset_tit{
                    display: block;
                    width: 100%; margin-bottom: 5px;
                    font-size: var(--small-text); font-family: var(--theJamsil-medium);
                }
                input:not([type="checkbox"]){
                    display: block;
                    width: 100%; padding: 4px; margin-bottom: 1px;
                    font-size: var(--desc-text); line-height: 24px;
                    outline: none; border-bottom: 1px solid var(--trip-black);
                    &:focus{
                        color: var(--trip-blue); margin-bottom: 0;
                        border-bottom: 2px solid var(--trip-blue);
                    }
                }
                button{
                    margin-left: 20px;
                    font-family: var(--theJamsil-medium);
                    line-height: 40px; white-space: nowrap;
                    &:hover{
                        background: var(--trip-blue);
                        color: var(--trip-white);
                    }
                }
                .error_message{
                    padding-top: 1rem;
                    font-size: var(--desc-text); color: var(--trip-red);
                }
                &.fieldset4{
                    span{
                        display: block;
                        margin: 0 10px;
                        font-size: var(--semismall-text);
                    }
                }
                &.fieldset7,
                &.fieldset8{
                    margin-bottom: 20px;
                }
            }
        }

        .btn_wrap button{
            font-family: var(--theJamsil-medium); line-height: 60px;
            &:hover, &.active{
                background: var(--trip-blue);
                color: var(--trip-white);
            }
        }

    }

    .signup_result{
        text-align: center;
        .img_box img{
            max-width: 400px;
        }
        h3{
            margin: 32px 0;
            font-size: var(--semibig-text); font-family: var(--theJamsil-medium);
            span{
                font-family: var(--theJamsil-medium); color: var(--trip-black);
            }
        }
        p{
            font-size: var(--medium-text);
            font-weight: 500;
        }
        .btn_wrap{
            margin-top: 60px;
            a{
                display: block;
                width: 244px;
                line-height: 40px; color: var(--trip-white); font-size: var(--semismall-text);
                background: var(--trip-blue); border-radius: 5px;
            }
        }   
    }
}


.page_plan{

}

// -----board

section:not(.findReviewSection) .board_area.container_m,
.post_area.container_m{
    padding: 0;
}
.page_triptalk{

}