    /* Font style */
  //  --theJamsil-thin: 'TheJamsil100';
  //  --theJamsil-light: 'TheJamsil300';
  //  --theJamsil-regular: 'TheJamsil400';
  //  --theJamsil-medium: 'TheJamsil500';
  //  --theJamsil-bold: 'TheJamsil700';
 //   --theJamsil-extrabold: 'TheJamsil800';
//웹 퀵메뉴

#quick{
    padding: 10px 0;
    position: fixed;
    left: 100%;
    top:50%;

    border-radius: 117px;
    background: var(--Trip-blue, #0051D3);

    width: 78px;
    height: 172px;
    flex-shrink: 0;
    transform: translateX(0);
    transition: 0.5s;
  
    z-index: 3000;
    display: flex;
    flex-direction: column; //수직축
    justify-content: space-between; //가운데로 

     li{      
        text-align: center;
        flex-grow: 1; //똑같이 나눔
        display: flex;
        flex-direction: column;
        justify-content: center;

            a{
                color: #FFDA00;
                font-size: var(--small-text,16px);   
                span{
                    font-size:var(--semismall-text,18px) ;
                    
                    }
            }
        &:nth-child(2){
            a{

            }
            // 큐알~
        }
        &:nth-child(3){
          
            a{
            
            }
                    }
    }

}

body.scrolled{
    #quick{
       transform: translateX(calc(-100% - 20px));
    }
}



            

// 모바일 상단 어플 광고
#mb-top{
    justify-content: space-between;
    // background: linear-gradient(to right, #dfe9f3, #ffffff); 
    padding: 1rem;
    position: relative;
    background: url("https://trip-ter.vercel.app/img/logo/logo_TRT_bl.png") no-repeat center;
    background-size: cover;
 
   
    .container{
            display: flex;
            align-items: center;
        #mb-top-text{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                left: 3rem;
                margin-right: 2rem;
                
            h5{
                color: #111;
                    span{
                        color: #555;
                     }     
               }
          } 
    
    a{
        color:#FFF;
        font-family: "Noto Sans";
        font-size: var(--m-mainbanner-en,12px);        
        border-radius: 5rem;
        background: var(--Trip_blue, #0051D3);
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem;

        justify-content: center;
       
       }
    }
    .close-btn{
        right: 0;
        top:0

        
    }

}

   // !!!!! 모바일 !!!!!


.section1{
     .simple_feelter_btn{
        position: absolute; left: 0; bottom: 0; transform: translateY(50%); z-index: 10;
        padding: 1.2rem 1rem;
        background: rgba(0, 81, 211, .9); border-radius: 0 3rem 3rem 0;
        cursor: pointer;
             a{
            color: #fff;
              }
              
            .img_box
             {
            width: 2.4rem;
            margin: 0 1rem;
             }

                 
    }
    

    .icon_menu{
        padding-top: 5rem;
        ul{
            gap: 1.5rem;
          li{
            max-width: 70rem;
            min-width: 10rem;
            padding: 2rem;
            background:var(--trip-skyblue);

            border-radius: 1rem;

            @media (max-width:575px) {
                flex-direction: column;
                height: 14rem;
                border-radius: 10rem 1rem 1rem 1rem;
            }
            
            

              p{
                margin:0.5rem;
                color:var(--trip-blue)             
                }
            }
        }
    }
}


//로그인 페이지
.userLogin{
    .container_m {
        max-width: 400px;
      }      
    h3 {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 20px;
        
       
        span {
          display: block;
          margin-top: 10px;
        }
      }
    form{
        align-items: center;
            fieldset{
                width: 100%;
                border: none;
                margin-bottom: 15px;
                text-align: left;
                    label{
                        display: block;
                        font-size: 14px;
                        margin-bottom: 5px;
                        }
                    input{
                        width: 100%;
                        padding: 10px;
                        border-bottom: 1px solid black;
                        font-size: 14px;
                            &:placeholder{ color: var(--Trip-blue, #0051D3) };
                        }
                    }
            }
            
    .findInfo {
        width: 100%;
        text-align: right;
        font-size: 12px;
        margin-bottom: 20px;
        margin-top: 25px;
    
        a {
        text-decoration: none;
        }
    }
    .btn_wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        >*{
            width: 100%;
            padding: 12px 0;
            font-size: 18px;
            font-weight: bold;
            border-radius: 5px;
        }
            button{
                margin-top: 10px;
                margin-bottom: 5px;
                background-color: var(--Trip-blue, #0051D3);
                color: white;
            }
            a{
                color: var(--Trip-blue, #0051D3);
                border: 1px solid var(--Trip-blue, #0051D3);
                background-color: white;
                text-align: center;
                cursor: pointer;
            }
    }
    .sns_login {
      margin-top: 30px;
  
      h4 {
          font-size: 14px;
          margin-top: 10px;
          margin-bottom: 20px;
          text-align: center;
      }
  
      ul {
          display: flex;
          justify-content: center;
          gap: 15px; 
  
          li {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50px; 
              height: 50px;
              border-radius: 50%;
              overflow: hidden;
              background-color: white; 
  
              a {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  height: 100%;
  
                  img {
                      object-fit: contain;
                  }
              }
          }
  
          
          #naver {
              background-color: #03C75A; 
              img {
                  width: 80%; 
              }
          }
  
      
          #kakao {
              background-color: #FEE500; 
              img {
                  width: 90%; 
              }
          }
  
        
          #facebook { 
              img {
                  width: 100%; 
              }
          }
  
          
          #google {
              border: 1px solid #1877F2; 
              img {
                  width: 45%; 
              }
          }
  
         
          #apple {
              background-color: black;
              img {
                  width: 100%; 
              }
          }
      }
  }

}
// 404 페이지
.page_error{
    background-color: var(--trip-blue) ;
    h1{
        font-family: var(--theJamsil-extrabold) !important;
        color: var(--trip-white);
        font-size: 8rem;
        font-weight: 900;
        margin-top: 5rem;
    }
    h2{
        font-family: var(--theJamsil-bold) !important;
        color: var(--trip-yellow);
        font-size: 3rem;
        font-weight: 800;
        margin: 1.5rem;
    }
    p{
        color: var(--trip-white);
        font-size: 1.6rem;
        font-weight: 300;
        margin-bottom: 3rem;
    }

    .button{
        font-family: var(--theJamsil-bold);
        font-weight: 500;
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 3rem;
    }
    .button1{
        color:var(--trip-blue);
        background-color:var(--trip-white);
        border-radius: 0.2rem;
        font-size: 1.5rem;
        padding: 0.3rem 2.5rem 0.3rem 2.5rem;
    }

    .button2{
        color:var(--trip-blue);
        background-color:var(--trip-white);
        border-radius: 0.2rem;
        font-size: 1.5rem;
        padding: 0.3rem 3.2rem 0.3rem 3.2rem;
    }


}

